<html>
<head>
<title>tampilanakhir2.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #bababa;}
.s2 { color: #6a8759;}
.s3 { color: #a9b7c6;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
tampilanakhir2.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;androidx.constraintlayout.widget.ConstraintLayout </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:background</span><span class="s2">=&quot;#eaeaea&quot;</span>
    <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;0dp&quot;</span>
    <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;1dp&quot;</span><span class="s0">&gt;</span>


    <span class="s0">&lt;ImageButton</span>

        <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView4&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;66dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;30dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@color/white&quot;</span>
        <span class="s1">android:src</span><span class="s2">=&quot;@drawable/hariini&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.048&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.229&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;/ImageButton&gt;</span>

    <span class="s0">&lt;ImageButton</span>

        <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView8&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;373dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;121dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@color/white&quot;</span>
        <span class="s1">android:src</span><span class="s2">=&quot;@drawable/pesananditerima&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.184&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.352&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;/ImageButton&gt;</span>

    <span class="s0">&lt;ImageButton</span>

        <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView7&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;408dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;144dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@color/white&quot;</span>
        <span class="s1">android:src</span><span class="s2">=&quot;@drawable/pelanggan&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.184&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.009&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;/ImageButton&gt;</span>

    <span class="s0">&lt;ImageView</span>

        <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView12&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;438dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;48dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@color/white&quot;</span>
        <span class="s1">android:src</span><span class="s2">=&quot;@drawable/home&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.39&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;1.0&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;/ImageView&gt;</span></pre>
</body>
</html>